@model Cidade
<form asp-controller="Cidade" asp-action="adicionar" method="post">

    <h4 style="position:absolute;top:10%;left:5%;font-family:'Segoe UI';font-style:inherit">Incluindo um nova cidade no catálogo</h4>

    <div style="width:800px;height:600px;position:absolute;top:20%;left:5%">

        <label asp-for="cidadeCodigo">Código</label>
        <input asp-for="cidadeCodigo" />

        <label asp-for="cidadeDescricao">Nome da cidade</label>
        <input asp-for="cidadeDescricao" />

        <label asp-for="estadoCodigo">Estado</label>
        <select asp-for="estadoCodigo" asp-items="ViewBag.Estados" id="dropdown-estados">
            <option value="">Selecione o estado</option>
        </select>

        <br /><br />

        <button type="submit" class="btn btn-small">Salvar</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-small" style="background-color:#e57373" href="~/Cidade">Cancelar</button>

    </div>

</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {
            // specify options here
        });
    });

</script>